@using Survey_Feedback_App.Core.Domain.Enum;
@model Survey_Feedback_App.Core.Application.DTOs.ResponseDTO.SurveyResponseModel

@{
    ViewData["Title"] = "Take Survey";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>@Model.Title</h2>

        <!-- Add email input field -->
        <div class="form-group">
            <label for="inputEmail">Email Address</label>
            <input type="email" id="inputEmail" name="EmailAddress" class="form-control" required>
        </div>

        @using (Html.BeginForm("TakeSurvey", "Survey", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.SurveyId)
            @Html.HiddenFor(m => m.UsersUnregId)

            @for (int i = 0; i < Model.Questions.Count; i++)
            {
                <div class="form-group">
                    <label>@Model.Questions[i].Text</label>
                    @Html.HiddenFor(m => m.Questions[i].QuestionId)
                    @Html.HiddenFor(m => m.Questions[i].Type)

                    @if (Model.Questions[i].Type == Types.Text)
                    {
                        @Html.TextBoxFor(m => m.Questions[i].Response, new { @class = "form-control" })
                    }
                    else if (Model.Questions[i].Type == Types.Radio)
                    {
                        @foreach (var option in Model.Questions[i].Options)
                        {
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.RadioButtonFor(m => m.Questions[i].Response, option.OptionId, new { @class = "form-check-input" })
                                    @option.Text
                                </label>
                            </div>
                        }
                    }
                    else if (Model.Questions[i].Type == Types.Checkbox)
                    {
                        @foreach (var option in Model.Questions[i].Options)
                        {
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="Questions[@i].SelectedOptions" value="@option.OptionId" class="form-check-input" />
                                    @option.Text
                                </label>
                            </div>
                        }
                    }
                </div>
            }
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
</body>
</html>
