@model ICollection<Survey_Feedback_App.Core.Application.DTOs.ResponseDTO.SurveyResponseModel>

@{
    Layout = "_Layout1";
}

@{
    ViewData["Title"] = "Your Surveys";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Your Surveys</h2>
            </div>
            <div class="card-body">
                @if (Model != null && Model.Count > 0)
                {
                    <ul class="list-group">
                        @foreach (var survey in Model)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span>@survey.Title</span>
                                    <br />
                                    <span>Survey Link: <code>https://localhost:7224/Response/TakeSurvey?link=http%3A%2F%2Flocalhost7224%2Fsurvey%2F/@survey.SurveyId</code></span>
                                </div>
                                <div>
                                    <a href="@Url.Action("SurveyAnalysis", "Survey", new { link = survey.SurveyId })" class="btn btn-primary">Check Analysis</a>
                                    @*  @using (Html.BeginForm("DeleteSurvey", "Survey", FormMethod.Post, new { @class = "d-inline" }))
                            {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("surveyId", survey.SurveyId)
                            <button type="submit" class="btn btn-danger">Delete</button>
                            } *@
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        You have not created any surveys yet.
                    </div>
                }
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

